# Database (Supabase)
# Connect to Supabase via connection pooling with ?pgbouncer=true
DATABASE_URL="postgresql://postgres.[PROJECT-REF]:[PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Direct connection for migrations
DIRECT_URL="postgresql://postgres.[PROJECT-REF]:[PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"

# Supabase Auth
NEXT_PUBLIC_SUPABASE_URL="https://ucnegvnkocdiiuujzqnw.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"

NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# eSewa Config
ESEWA_PRODUCT_CODE="EPAYTEST"
ESEWA_SECRET_KEY="8gBm/:&EnhH.1/q"
ESEWA_FORM_URL="https://rc-epay.esewa.com.np/api/epay/main/v2/form"
ESEWA_STATUS_URL="https://rc-epay.esewa.com.np/api/epay/transaction/status/"

# Khalti Config
KHALTI_SECRET_KEY="live_secret_key_..."
KHALTI_BASE_URL="https://a.khalti.com/api/v2"

# Resend
RESEND_API_KEY=""
CONTACT_RECEIVER_EMAIL="support@projectinked.com"
